.pixel {
  display: inline-block;
  height: 34px;
  width: 34px;
  border-style: solid;
  border-width: 1px;
  margin: 0px;
  transition: background-color .5s;
}

.label {
  border-style: hidden;
  margin-bottom: -2px;
  margin-left: -2px;
  margin-right: -2px;
}

.gridRow {
  margin-bottom: -8px;
}

.spacer {
  height: 20px;
  width: 8px;
  display: inline-block;
}

.divider {
  height: 10px;
  background-color: white;
}

#triviaCall {
  margin-top: 5px;
}
