.pixel {
  display: inline-block;
  height: 34px;
  width: 34px;
  border-style: solid;
  border-width: 1px;
  margin: 0px;
  transition: background-color .5s;
}

.label {
  padding-left: 10px;
  border-style: hidden;
  margin-bottom: -2px;
  margin-left: -2px;
  margin-right: -2px;
}

.gridRow {
  margin-bottom: -8px;
}

.spacer {
  height: 50px;
}

a {
  margin: 10px;
}

body {
  background-image: url(../hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#bottomRow {
  padding: 5px;
  background-color: #4cd362;
  border-radius: 5px;
}



#player {
  background-color: #11619e;
  border-radius: 10px;
  padding-top: 10px;
}

#computer {
  background-color: #0f7047;
  border-radius: 10px;
  padding-top: 10px;
}
