.pixel {
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 1px;
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: -2px;
  display: inline-block;
}

body {
  background-image: url(../hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.label {
  width: 36px;
  padding-left: 25px;
  padding-top: 10px;
  border-style: hidden;
}

.labelCol {
  display: block;
  border-style: hidden;
  margin-top: 1px;
}

.gridRow {
  margin: -2px;
}

h6 {
  font-size: 15px;
  background-color: silver;
}

#battleship {
  justify-content: center;
  height: 38px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

#cruiser {
  justify-content: center;
  height: 38px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

#destroyer {
  justify-content: center;
  height: 38px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

#carrier {
  justify-content: center;
  height: 38px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

#sub {
  justify-content: center;
  height: 38px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

.white {
  background-color: white;
  border-radius: 10px;
}
